<?xml version="1.0"?>
<opencv_storage>
<Settings>
  <boardSize>
    0 0</boardSize>
  <camFieldSize>
    0 0</camFieldSize>
  <patternToUse>NOT_EXISTING</patternToUse>
  <squareSize>0.</squareSize>
  <nrFrames>10</nrFrames>
  <calibPatternWhiteOnBlack>105</calibPatternWhiteOnBlack>
  <UDPSettings>
    <sendToIP>"192.168.0.255"</sendToIP>
    <sendToPort>25000</sendToPort>
    <sendToIp_SyncService>"192.168.0.255"</sendToIp_SyncService>
    <sendToPort_SyncService>25110</sendToPort_SyncService>
    <reciveIp_SyncService>"192.168.0.20"</reciveIp_SyncService>
    <recivePort_SyncService>25111</recivePort_SyncService></UDPSettings>
  <timerMilSecs>20</timerMilSecs>
  <cornerRefinementMaxIterations>1</cornerRefinementMaxIterations>
  <cornerRefinementMinAccuracy>10.</cornerRefinementMinAccuracy>
  <errorCorrectionRate>511.</errorCorrectionRate>
  <adaptiveThreshWinSizeMin>10</adaptiveThreshWinSizeMin>
  <adaptiveThreshWinSizeStep>99</adaptiveThreshWinSizeStep>
  <adaptiveThreshConstant>10</adaptiveThreshConstant>
  <minMarkerPerimeterRate>91.</minMarkerPerimeterRate>
  <maxMarkerPerimeterRate>300.</maxMarkerPerimeterRate>
  <polygonalApproxAccuracyRate>11.</polygonalApproxAccuracyRate>
  <perspectiveRemovePixelPerCell>1</perspectiveRemovePixelPerCell>
  <cameraImageThreshold>160</cameraImageThreshold>
  <MinSizeofRects>8000</MinSizeofRects>
  <robotOffset0>6.1681100000000001e+01</robotOffset0>
  <robotOffset1>6.0335700000000003e+01</robotOffset1>
  <robotOffset2>5.9464599999999997e+01</robotOffset2>
  <robotOffset3>5.7237200000000001e+01</robotOffset3>
  <robotOffset4>60.</robotOffset4>
  <robotOffset5>60.</robotOffset5>
  <robotOffset6>60.</robotOffset6>
  <robotOffset7>60.</robotOffset7></Settings>
</opencv_storage>
